html
	head
		include ./parts/head.pug
		include ./parts/pgs.pug
	body
		include ./parts/header.pug
		.head-image
			.head-image__title
				span.year 2014
				span.brand Mitsubishi
				span.model Lancer
		.parts-menu
			mixin parts-menu-item(url, name)
				.col-mobileonly-1-2
					a.parts-menu-item(href="#")
						.parts-menu-item__img
							img(src=url)
						.parts-menu-item__name= name
			+parts-menu-item('images/photo/panel/panel_1.png', 'Обвесы')
			+parts-menu-item('images/photo/panel/panel_2.png', 'Решетки радиатора')
			+parts-menu-item('images/photo/panel/panel_3.png', 'Капоты - тюнинговые')
			+parts-menu-item('images/photo/panel/panel_4.png', 'Зеркала - боковые')
			+parts-menu-item('images/photo/panel/panel_5.png', 'Ручки дверей')
			+parts-menu-item('images/photo/panel/panel_6.png', 'Рейлинги и Поперечины')
			+parts-menu-item('images/photo/panel/panel_7.png', 'Прочие элементы')
		br
		.parts-menu
			mixin parts-menu-item(url, name)
				.col-mobileonly-1-2
					a.parts-menu-item(href="#")
						.parts-menu-item__img
							img(src=url)
						.parts-menu-item__name= name
			+parts-menu-item('images/photo/panel/panel_8.png', 'Передние фары')
			+parts-menu-item('images/photo/panel/panel_9.png', 'Задние фары')
			+parts-menu-item('images/photo/panel/panel_10.png', 'Поворотники')
			+parts-menu-item('images/photo/panel/panel_11.png', 'Противотуманные')
			+parts-menu-item('images/photo/panel/panel_12.png', 'Сигнальный свет')
		br
		.parts-menu
			mixin parts-menu-item(url, name)
				.col-mobileonly-1-2
					a.parts-menu-item(href="#")
						.parts-menu-item__img
							img(src=url)
						.parts-menu-item__name= name
			+parts-menu-item('images/photo/panel/panel_13.png', 'Панель приборов')
			+parts-menu-item('images/photo/panel/panel_13.png', 'Элементы салона')
			+parts-menu-item('images/photo/panel/panel_15.png', 'Обивка потолка')
		.catalog-router
			.wrapper
				ul.breadcrumbs.left
					li
						a(href="#") Главная
					li
						a(href="#") Аэродинамические Обвесы
					li
						a(href="#") Вся продукция
				.catalog-router__container
					ul.catalog-router__route
						li
							a(href="#") Аэродинамеческие обвесы
						li
							a(href="#") Навестные элементы
					.btn.btn_change Изменить транспорт 
		.wrapper
						.title Категории
						.clearfix
							mixin product-item(imgUrl,name, text)
								.col-mobileonly-1-2.col-phablet-1-3.col-tablet-1-4.col-laptop-1-5.col-desktop-1-6
									a.product-item(href="#")
										.product-item__img
											img(src=imgUrl)
										.product-item__name= name
										.product-item__sub-text= text
											
							+product-item("images/photo/body-elements/body-element_01.png", "Бамперы", "Передние, задние")
							+product-item("images/photo/body-elements/body-element_03.png", "Губа бампера", "Клыки, губы, юбки")
							+product-item("images/photo/body-elements/body-element_04.png", "Диффузоры", "Задний бампер")
							+product-item("images/photo/body-elements/body-element_06.png", "Пороги", "Наружные и вкладные")
							+product-item("images/photo/body-elements/body-element_05.png", "Спойлеры", "Антикрылья, спойлеры, накладки")
							+product-item("images/photo/body-elements/body-element_07.png", "Крылья", "Завод и кастом")
							+product-item("images/photo/body-elements/body-element_12.png", "Бампера завод", "Покраска, любой цвет")
							+product-item("images/photo/body-elements/body-element_09.png", "Молдинги", "Накладки кузова")
							+product-item("images/photo/body-elements/body-element_10.png", "Накладки - на фары", "Реснички")
							+product-item("images/photo/body-elements/body-element_11.png", "Накладки остальные", "Арки, жабры, вставки бампера")
							+product-item("images/photo/body-elements/body-element_12.png", "Бампера завод", "Покраска, любой цвет")
							+product-item("images/photo/body-elements/body-element_12.png", "Бампера завод", "Покраска, любой цвет")
							+product-item("images/photo/body-elements/body-element_12.png", "Бампера завод", "Покраска, любой цвет")
							+product-item("images/photo/body-elements/body-element_12.png", "Бампера завод", "Покраска, любой цвет")
		.page-background
			.model-selection.model-selection_grey
				.selection
					form
						select(name="year")
							option(selected) 2018
							option 2017
							option 2016
							option 2015
						select(name="brand")
							option(selected) BMW
							option BMW
							option VW
							option Audi
						select(name="door-count")
							option(selected) 5
							option 3
						select(name="type-ofbody")
							option(selected) Седан
							option Хетчбек
							option Пикап
							option Универсал
						button(type="submit") Найти
			.wrapper.clearfix.border-transparent.text-align
				.title Каталог товаров
				.row.clearfix
					.col-laptop-1-6.no-padding-right
						include ./parts/filters.pug
					.col-laptop-5-6
						.filters-select
							.filters-select__center
								.show-3
									span
									span
									span
								.show-4.active
									span
									span
									span
									span
							.filters-select__right
								span.label Сортировать по:
								select(name="general")
									option(selected) Рекомендуемое
									option Рекомендуемое 1 
									option Рекомендуемое 2
									option Рекомендуемое 3
						.clearfix.filters-select-col
							mixin product(url)
								.col-phablet-1-3.col-tablet-1-4
									.product.product_catalog
										a(href="#").product__pic
											img(src=url, alt="icon")
										.product__info
											.product__rating
												i.fa.fa-star
												i.fa.fa-star
												i.fa.fa-star
												i.fa.fa-star
												i.fa.fa-star
											a(href="#").product__name
												|Задние фонари "BP" (диодные, красные/белые) для ВАЗ 2108, 2109, 2099 и 2113, 2114
											.product__price
												span 24 500
												i "
											.add-to-fav
											.add-to-cart
							+product("images/photo/product_04.png")
							+product("images/photo/product_02.png")
							+product("images/photo/product_03.png")
							+product("images/photo/product_01.png")
							+product("images/photo/product_02.png")
							+product("images/photo/product_04.png")
							+product("images/photo/product_02.png")
							+product("images/photo/product_03.png")
				.btn.btn_show-more
					img(src="images/photo/show-more.png")
					span Показать еще
		include ./parts/review-slider.pug
		.last-seen
			.wrapper
				.title.off-margin
					|просмотренные товары
				.slider-arrows
					.slider_controls#last-seen
						span.icon.ls-prevSlide
						span.icon.ls-nextSlide
				ul#last-seen-slider
					li
						.product
							a(href="#").product__pic
								img(src="images/photo/product_03.png", alt="icon")
							.product__info
								.product__rating
									i.fa.fa-star
									i.fa.fa-star
									i.fa.fa-star
									i.fa.fa-star
									i.fa.fa-star.grey
								a(href="#").product__name
									|Задние фонари "BP" (диодные, красные/белые) для ВАЗ 2108, 2109, 2099 и 2113, 2114
								.product__price
									span 24 500
									i "
								.add-to-fav
								.add-to-cart
					li
						.product
							a(href="#").product__pic
								img(src="images/photo/product_01.png", alt="icon")
							.product__info
								.product__rating
									i.fa.fa-star
									i.fa.fa-star
									i.fa.fa-star
									i.fa.fa-star.grey
									i.fa.fa-star.grey
								a(href="#").product__name
									|Задние фонари "BP" (диодные, красные/белые) для ВАЗ 2108, 2109, 2099 и 2113, 2114
								.product__price
									span 24 500
									i "
								.add-to-fav
								.add-to-cart
					li
						.product
							a(href="#").product__pic
								img(src="images/photo/product_02.png", alt="icon")
							.product__info
								.product__rating
									i.fa.fa-star
									i.fa.fa-star
									i.fa.fa-star
									i.fa.fa-star
									i.fa.fa-star.grey
								a(href="#").product__name
									|Задние фонари "BP" (диодные, красные/белые) для ВАЗ 2108, 2109, 2099 и 2113, 2114
								.product__price
									span 24 500
									i "
								.add-to-fav
								.add-to-cart
					li
						.product
							a(href="#").product__pic
								img(src="images/photo/product_04.png", alt="icon")
							.product__info
								.product__rating
									i.fa.fa-star
									i.fa.fa-star
									i.fa.fa-star
									i.fa.fa-star
									i.fa.fa-star
								a(href="#").product__name
									|Задние фонари "BP" (диодные, красные/белые) для ВАЗ 2108, 2109, 2099 и 2113, 2114
								.product__price
									span 24 500
									i "
								.add-to-fav
								.add-to-cart
					li
						.product
							a(href="#").product__pic
								img(src="images/photo/product_03.png", alt="icon")
							.product__info
								.product__rating
									i.fa.fa-star
									i.fa.fa-star
									i.fa.fa-star
									i.fa.fa-star
									i.fa.fa-star.grey
								a(href="#").product__name
									|Задние фонари "BP" (диодные, красные/белые) для ВАЗ 2108, 2109, 2099 и 2113, 2114
								.product__price
									span 24 500
									i "
								.add-to-fav
								.add-to-cart
		include ./parts/footer.pug
