html
	head
		include ./parts/head.pug
		include ./parts/pgs.pug
	body
		include ./parts/header.pug
		.model-selection
			.title
				|Выберите  модель
			.selection
				form
					select(name="year")
						option(selected) 2018
						option 2017
						option 2016
						option 2015
					select(name="brand")
						option(selected) BMW
						option BMW
						option VW
						option Audi
					select(name="door-count")
						option(selected) 5
						option 3
					select(name="type-ofbody")
						option(selected) Седан
						option Хетчбек
						option Пикап
						option Универсал
					button(type="submit") Найти
		.parts-menu
			mixin parts-menu-item(url, name)
				a.parts-menu-item(href="#")
					.parts-menu-item__img
						img(src=url)
					.parts-menu-item__name= name
			+parts-menu-item('images/photo/parts-menu_01.png', 'Обвесы')
			+parts-menu-item('images/photo/parts-menu_02.png', 'Решетки радиатора')
			+parts-menu-item('images/photo/parts-menu_03.png', 'Капоты - тюнинговые')
			+parts-menu-item('images/photo/parts-menu_04.png', 'Зеркала - боковые')
			+parts-menu-item('images/photo/parts-menu_05.png', 'Ручки дверей')
			+parts-menu-item('images/photo/parts-menu_06.png', 'Рейлинги и Поперечины')
			+parts-menu-item('images/photo/parts-menu_07.png', 'Прочие элементы')
		.section-product-items
			.wrapper
				.row.clearfix
					mixin product-item(imgUrl,name)
						.col-mobileonly-1-2.col-phablet-1-3.col-tablet-1-4.col-laptop-1-5
							a.product-item(href="#")
								.product-item__img
									img(src=imgUrl)
								.product-item__name= name
					+product-item("images/photo/body-elements/body-element_01.png", "Бамперы")
					+product-item("images/photo/body-elements/body-element_02.png", "Накладки и Сетки - бампера")
					+product-item("images/photo/body-elements/body-element_03.png", "Губа - передний бампер")
					+product-item("images/photo/body-elements/body-element_04.png", "Диффузоры - задний бампер")
					+product-item("images/photo/body-elements/body-element_05.png", "Спойлеры и дефлекторы")
					+product-item("images/photo/body-elements/body-element_06.png", "Пороги")
					+product-item("images/photo/body-elements/body-element_07.png", "Крылья")
					+product-item("images/photo/body-elements/body-element_08.png", "Накладки - на арки")
					+product-item("images/photo/body-elements/body-element_09.png", "Накладки - боковые")
					+product-item("images/photo/body-elements/body-element_10.png", "Накладки - на фары")
		.section-product-catalog
			.wrapper
				.title Каталог товаров
				.row.clearfix
					mixin product(imgUrl)
						.col-phablet-1-2.col-tablet-1-3.col-laptop-1-4
							.product
								a(href="#").product__pic
									img(src=imgUrl, alt="icon")
								.product__info
									.product__rating
										i.fa.fa-star
										i.fa.fa-star
										i.fa.fa-star
										i.fa.fa-star
										i.fa.fa-star
									a(href="#").product__name
										|Задние фонари "BP" (диодные, красные/белые) для ВАЗ 2108, 2109, 2099 и 2113, 2114
									.product__price
										span 24 500
										i "
									.add-to-fav
									.add-to-cart
					+product("images/photo/product_04.png")
					+product("images/photo/product_02.png")
					+product("images/photo/product_03.png")
					+product("images/photo/product_01.png")
					+product("images/photo/product_02.png")
					+product("images/photo/product_04.png")
					+product("images/photo/product_02.png")
					+product("images/photo/product_03.png")
		include ./parts/review-slider.pug
		include ./parts/footer.pug
